<div class="container" style="margin-left: 800px; margin-top: 50px;">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Registrar Departamento</h5>
          <input type="text" class="form-control" placeholder="Ingrese departamento" [(ngModel)]="departamentoModel.depart_name">
          <br>
          <a href="#" class="btn btn-primary" (click)="create()">Agregar</a>
          <a href="#" class="btn btn-danger" routerLink="/listar">Cancelar</a>
        </div>
      </div>
</div>